name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate Snake Variants
      uses: Platane/snk@v3
      with:
        github_user_name: Marsstone24
        outputs: |
          dist/snake.svg
          dist/snake-dark.svg?palette=github-dark
          dist/snake-neon.svg?color_snake=#00ff99&color_dots=#000000,#003300,#006600,#00ff00
          dist/snake.gif

    - name: Push to Output Branch
      uses: crazy-max/ghaction-github-pages@v4
      with:
        target_branch: output
        build_dir: dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
